:root {
  --bg: #fff;
  --color: #444;
  --line: #ddd;
  --heading: #1e2357;
  --buttonBG: #3840a2;
  --buttonColor: #fff;
  --lightButtonBG: rgb(222, 222, 233);
  --lightButtonCGolor: inheritColor;
  --lightBlueButton: #d2dfec;
  --headerOne: #3840a2;
  --headerTwo: #5a88c2;
  --traverse: #4951a3;
  --overviewCount: #4451b1;
  --boxShadow: rgba(105, 119, 136, 0.5);
  --defaultQuestions: rgb(205, 219, 236);
}

.header:before {
  transform: rotate(4deg) translateX(-50%) translateY(-20%);
  background: #5a88c2;
}

/* Reset */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  padding: 90px 0 20px;
  min-height: 100%;
  background: var(--bg);
  font: 400 100%/1.375 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: var(--color);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Type */
h1,
h2 {
  margin: 0;
  font-size: 1.125em;
  font-weight: 400;
  color: var(--heading);
}

.h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}

button,
label.button {
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 1px solid var(--line);
  margin: 30px 0;
}

[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.center {
  text-align: center;
}

/* Grid */
.wrap {
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrap--thin {
  max-width: 540px;
}

.wrap--padding {
  padding-left: 0;
  padding-right: 0;
}

/* Buttons */
.button {
  display: inline-block;
  background: var(--buttonBG);
  color: var(--buttonColor);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1em;
  padding: 15px 25px;
  line-height: 1;
  border-radius: 4px;
  margin: 0 0 20px;
  font-size: 12px;
  transition: 300ms box-shadow;
}

.button:hover {
  box-shadow: 0 2px 10px var(--boxShadow);
}

.button--grey {
  background: var(--lightButtonBG);
  color: var(--lightButtonColor);
}

.button--grey:hover {
  box-shadow: 0 2px 10px rgba(200, 200, 200, 0.5);
}

.button--scary {
  background: rgb(190, 31, 31);
}

.button--scary:hover {
  box-shadow: 0 2px 10px rgba(190, 31, 31, 0.5);
}

.button--space {
  margin-right: 10px;
}

.button--reset {
  background: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

/* Forms */
label {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em;
  display: block;
}

select,
[type='text'],
textarea {
  display: block;
  width: 100%;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  background: transparent;
}

select {
  background: rgba(150, 150, 150, 0.1);
  padding: 1em;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjggMS41MWw0Ljk3NCA0Ljk3NSA0Ljk0OC00Ljk1IiBzdHJva2U9InJnYmEoMCwwLDAsMC40KSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  padding-right: 2.5rem;
  appearance: none;
}

[type='text'] {
  padding: 1em;
  background: rgba(150, 150, 150, 0.1);
}

[type='submit'] {
  background: transparent;
  border: none;
  box-shadow: none;
}

textarea {
  min-height: 150px;
  padding: 0;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 50;
  color: #fff;
  line-height: 1;
}

.header:before,
.header:after {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(-4deg) translateX(-50%) translateY(-20%);
  transform-origin: 0 50%;
  background: var(--headerOne);
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}

.header:before {
  transform: rotate(4deg) translateX(-50%) translateY(-20%);
  background: var(--headerTwo);
}

@media (min-width: 600px) {
  .header:after {
    transform: rotate(-2deg) translateX(-50%) translateY(-20%);
  }

  .header:before {
    transform: rotate(2deg) translateX(-50%) translateY(-20%);
  }
}

@media (min-width: 1200px) {
  .header:after {
    transform: rotate(-1deg) translateX(-50%) translateY(-20%);
  }

  .header:before {
    transform: rotate(1deg) translateX(-50%) translateY(-20%);
  }
}

.header .wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 10px;
}

.header a {
  padding: 15px 10px;
}

.header a:first-child {
  margin-right: auto;
}

/* Day */
.traverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  animation: lift 750ms forwards;
  color: var(--traverse);
}

.traverse a {
  transition: 300ms opacity;
}

.traverse a:hover {
  opacity: 0.7;
}

.traverse__arrow {
  padding: 0 20px;
}

.question {
  padding: 20px;
}

.question:nth-child(even) {
  background: var(--inverseQuestion, rgba(50, 50, 50, 0.05));
}

/* Settings */
.add-question {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-top: 30px;
  margin: 30px 0;
  border-top: 1px solid var(--line);
}

.add-question > * {
  flex: 1;
}

.add-question [type='submit'] {
  flex-grow: 0;
  margin-left: 10px;
  margin-bottom: 18px;
  color: var(--traverse);
}

/* Home */
.home {
  min-height: calc(100vh - 110px);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-image {
  max-width: 400px;
  width: 80%;
  margin: 20px auto 40px;
}

/* Onboarding */
.default-questions {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 500px) {
  .default-questions {
    grid-template-columns: 1fr 1fr;
  }
}

.default-question {
  cursor: pointer;
  width: 100%;
  background: var(--defaultQuestions);
  border: none;
  padding: 15px 20px;
  text-align: center;
  font: inherit;
  color: inherit;
  outline: none;
  transition: 300ms box-shadow;
}

.default-question:hover,
.default-question:focus {
  box-shadow: 0 5px 15px var(--defaultQuestionsShadow, rgba(105, 119, 136, 0.2));
}

.default-question[disabled] {
  cursor: not-allowed;
}

/* Animation */
@keyframes lift {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lift,
.lift-children > * {
  animation: lift 750ms forwards;
  opacity: 0;
}

.lift-children > :nth-child(1) {
  animation-delay: 300ms;
}

.lift-children > :nth-child(2) {
  animation-delay: 600ms;
}

.lift-children > :nth-child(3) {
  animation-delay: 900ms;
}

.lift-children > :nth-child(4) {
  animation-delay: 1200ms;
}

.lift-children > :nth-child(5) {
  animation-delay: 1500ms;
}

.lift-children > :nth-child(6) {
  animation-delay: 1800ms;
}

.lift-children > :nth-child(7) {
  animation-delay: 2100ms;
}

.lift-children > .lift--without-delay,
.lift--without-delay {
  animation-delay: 0ms;
}

/* Toggle */
.toggle {
  text-transform: none;
  font-weight: 400;
  padding-left: 3em;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.toggle i {
  width: 2.5em;
  height: 1.25em;
  border: 1px solid var(--line);
  position: absolute;
  border-radius: 1em;
  transition: 300ms background-color;
  left: 0;
  top: 0;
}

.toggle i:before {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 50%;
  width: 50%;
  height: 100%;
  border: 1px solid var(--line);
  background: #fff;
  transition: 300ms transform;
}

.toggle input:checked + i {
  background-color: #5e65ba;
}

.toggle input:checked + i:before {
  transform: translateX(100%) translateX(-2px);
}

.edit-question {
  position: relative;
}

.edit-question .toggle {
  position: absolute;
  right: 0;
  top: 0;
}

/* Delete Data */
.delete-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delete-data button:first-child {
  margin-right: 20px;
}

/* Year overview */
.year-overview {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding-top: 20px;
  padding-bottom: 20px;
}

.year-overview .button {
  background: var(--lightBlueButton);
  color: inherit;
  text-transform: none;
  margin: 0;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  position: relative;
}

.year-overview--center .button {
  text-align: center;
}

.year-overview .button--inactive {
  opacity: 0.6;
}

.year-overview strong {
  position: absolute;
  right: 10px;
  top: 50%;
  background: var(--overviewCount);
  color: #fff;
  border-radius: 25px;
  transform: translateY(-50%);
  min-width: 25px;
  padding: 0 4px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Highlight */
.highlight-today {
  margin: 20px 20px;
}

.highlight-today svg {
  vertical-align: middle;
  margin: -2px 8px 0 0;
}

.highlight-today .button.clicked {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  33% {
    transform: rotate(2deg);
  }

  66% {
    transform: rotate(-2deg);
  }

  0%,
  100% {
    transform: rotate(0deg);
  }
}

/* DB error */
.db-error {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  animation-delay: 0ms;
  z-index: 100;
}

.db-error__content {
  position: absolute;
  padding: 40px 20px 20px;
  background: var(--bg);
  color: var(--color);
  max-width: 500px;
  width: calc(100% - 40px);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  z-index: 1;
  left: 50%;
  top: 50%;
}

.db-error__dismiss {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: none;
  outline: none;
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}


/* Themes */
[data-theme='dark'] {
  --translucentLight: rgba(255, 255, 255, 0.1);
  --translucentGrey: rgba(105, 119, 136, 0.1);

  --bg: rgb(19, 20, 32);
  --color: #eee;
  --heading: #eee;
  --line: #555;
  --lightButtonBG: var(--translucentLight);
  --inverseQuestion: var(--translucentLight);
  --headerOne: rgba(54, 54, 70, 0.8);
  --headerTwo: rgba(54, 54, 70, 0.8);
  --lightBlueButton: var(--translucentLight);
  --traverse: #fff;
  --boxShadow: var(--translucentGrey);
  --overviewCount: #222;
  --defaultQuestions: var(--translucentLight);
  --defaultQuestionsShadow: var(--translucentGrey);
  --buttonBG: #3c2a7d;
  --buttonColor: #fff;
}

[data-theme='dark'] select {
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjggMS41MWw0Ljk3NCA0Ljk3NSA0Ljk0OC00Ljk1IiBzdHJva2U9InJnYmEoMjU1LDI1NSwyNTUsMC40KSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
}

