html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FFF;
	font: 400 100%/1.375 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	padding: 90px 0 20px;
	height: 100%;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
	border: none;
}

/* Type */
h1,
h2 {
	margin: 0;
	font-size: 1.125em;
	font-weight: 400;
	color: #1E2357;
}

.h1 {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 10px;
}

p {
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

p a {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

[disabled] {
	opacity: 0.4;
	cursor: not-allowed;
}

.center {
	text-align: center;
}

.button {
	display: inline-block;
	background: #3840A2;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 15px 25px;
	line-height: 1;
	border-radius: 4px;
	margin: 0 0 20px;
	font-size: 12px;
}

/* Grid */
.wrap {
	max-width: 800px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.wrap--thin {
	max-width: 540px;
}

.wrap--padding {
	padding-left: 0;
	padding-right: 0;
}


/* Forms */
label {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0 0 0.5em;
	display: block;
}

[type="text"],
textarea {
	display: block;
	width: 100%;
	border: none;
	font: inherit;
	color: inherit;
	outline: none;
	-webkit-appearance: none;
	resize: none;
	background: transparent;
}

[type="text"] {
	padding: 0.5em;
	background: rgba(150, 150, 150, 0.1);
}

[type="submit"] {
	background: transparent;
	border: none;
	box-shadow: none;
}

textarea {
	min-height: 150px;
	padding: 0;
}


/* Header */
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 5px 0;
	z-index: 50;
	color: #FFF;
	line-height: 1;
}

.header:before,
.header:after {
	content: '';
	width: 120%;
	height: 120%;
	position: absolute;
	left: 50%;
	top: 0;
	transform: rotate(-4deg) translateX(-50%) translateY(-20%);
	transform-origin: 0 50%;
	background: #3840A2;
	opacity: 0.8;
	z-index: -1;
	pointer-events: none;
}

.header:before {
	transform: rotate(4deg) translateX(-50%) translateY(-20%);
	background: #5A88C2;
}

@media (min-width: 600px) {
	.header:after {
		transform: rotate(-2deg) translateX(-50%) translateY(-20%);
	}

	.header:before {
		transform: rotate(2deg) translateX(-50%) translateY(-20%);
	}
}

@media (min-width: 1200px) {
	.header:after {
		transform: rotate(-1deg) translateX(-50%) translateY(-20%);
	}

	.header:before {
		transform: rotate(1deg) translateX(-50%) translateY(-20%);
	}
}

.header .wrap {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 0;
}

.header a {
	padding: 15px 20px;
}

.header a:first-child {
	margin-right: auto;
}

/* Day */
.traverse {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 20px;
	animation: lift 750ms forwards;
}

.question {
	animation: lift 750ms forwards;
	animation-delay: 300ms;
	opacity: 0;
	transform: translateY(40px);
	padding: 20px;
}

.question:nth-child(even) {
	background: #F7F7F7;
}

/* Settings */
.add-question {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #F7F7F7;
}

.add-question > * {
	flex: 1;
}

.add-question [type="submit"] {
	flex-grow: 0;
	margin-left: 10px;
	padding-top: 22px;
}

/* Home */
.home {
	min-height: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.home img {
	max-width: 400px;
	margin: 20px auto 40px;
}

/* Onboarding */
.default-question {
	cursor: pointer;
	width: 100%;
	margin-bottom: 20px;
	background: rgb(205, 219, 236);
	border: 1px solid #EFEFEF;
	padding: 15px 20px;
	text-align: center;
	font: inherit;
	color: inherit;
	outline: none;
}

.default-question:focus {
	border: 1px solid #C2C2C2;
}

.default-question[disabled] {
	cursor: not-allowed;
}


/* Animation */
@keyframes lift {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
